<a href="https://colab.research.google.com/github/AndreaLeone06/Python/blob/main/Copia_di_LEONE_ANDREA_Pandas_WineMag_esercizio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas - esercizio 1

Prendere in considerazione i dati presenti nel file winemag-data-130k-v2.json e scrivere le istruzioni necessarie per:

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

1. caricare in un dataframe i dati presenti nel file

In [86]:
df = pd.read_json('/content/drive/MyDrive/Colab Notebooks/winemag-data-130k-v2.json')

2. visualizzare i primi 10 record del file. Usare due modi

In [ ]:
df.head(10)
df[:10]

3. visualizzare gli ultimi 10 record del dataframe. Usare due modi.

In [ ]:
df.tail(10)
df[-10:]

4. visualizzare la colonna 'points'. Utilizzare due modi

In [ ]:
df['points']
df.points

5. visualizzare le colonne 'price' e 'title'

In [ ]:
df[['price','title']]

6. visualizzare tutti i dati dei record che si trovano dalla posizione 1000 alla posizione 1010

In [ ]:
df[1000:1011]

7. visualizzare le colonne 'price' e 'title' dei record che si trovano dalla posizione 1000 alla posizione 1010

In [ ]:
df[['price','title']][1000:1011]

8. cambiare i punti del vino 'Nicosia 2013 Vulkà Bianco (Etna)' da 87 a 89

In [94]:
df.loc[df.title=="Nicosia 2013 Vulkà Bianco (Etna)","points"]+=10

9. aumentare i punti del vino 'Quinta dos Avidagos 2011 Avidagos Red (Douro)' di 10 unità

In [ ]:
df.loc[df.title=="Quinta dos Avidagos 2011 Avidagos Red (Douro)","points"]+=10#riga,colonna

10. aumentare tutti i prezzi dei vini del 10%

In [ ]:
df["price"] = df["price"]*1.1

11. contare il numero di vini italiani presenti nel datafrane

In [ ]:
len(df[df.country=='Italy'])

12. trovare il prezzo del vino che costa di più

In [ ]:
df['price'].max()

2970.0

13. trovare il prezzo del vino che costa di meno

In [ ]:
df['price'].min()

3.6

14. trovare il pezzo medio dei vini

In [ ]:
from statistics import mean
df['price'].mean()

31.827050216986983

15. trovare il prezzo medio dei vini italiani, confrontarlo con il prezzo medio dei vini francesi e dire quali costano di più

In [ ]:
if df[df.country =='Italy']["price"].max() > df[df.country =='France']["price"].max():
  print("I vini italiani costano di più")
else: print("I vini francesi costano di più")

16. visualizzare i vini di cui non si conosce il prezzo

In [ ]:
df.loc[df.price.isnull()]

17. visualizzare i vini che hanno le parole 'tropical fruit' nella descrizione

In [ ]:
df[df.description.str.contains('tropical fruit')]

18. caricare in un nuovo dataframe l'elenco completo dei vini italiani che hanno ottenuto un punteggio compreso tra 82 e 85 punti (estremi esclusi). Visualizzare poi il nuovo dataframe facendo in modo che l'utente possa vedere tutti i vini

In [ ]:
cd=df[(df.country == 'Italy') & (df.points > 82) & (df.points < 85)]
cd
len(cd)

In [ ]:
a=df[(df[df.points<85]["country"]=="Italy") & (df[df.points>82]["country"]=="Italy")]
print(len(a))