nuova struttura dati:
TUPLE;    non modificabile

In [ ]:
tupla1=(1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

In [ ]:
tupla2=("prova",)
print(type(tupla2))
print(tupla2)

tupla2=("prova")
print(type(tupla2))

<class 'tuple'>
('prova',)
<class 'str'>

In [ ]:
prova=tuple(["ciao",24])
print(prova)

('ciao', 24)

In [ ]:
import random
lista0 = tuple(random.sample(range(1,100),20)) #2 parametri, (lista)
print(lista0)

(28, 48, 74, 83, 94, 86, 76, 21, 93, 89, 82, 57, 37, 51, 26, 87, 52, 75, 17, 13)

In [ ]:
tupla0= list(lista0)
tupla0[0:0] = ["avasiloae", "bernasconi", "cottone"]
tupla0= tuple(tupla0)
print(tupla0)

('avasiloae', 'bernasconi', 'cottone', 28, 48, 74, 83, 94, 86, 76, 21, 93, 89, 82, 57, 37, 51, 26, 87, 52, 75, 17, 13)

nuova stuttura dati: INSIEMI;  non esiste indice, niente duplicati

In [ ]:
insieme={"inter", "milan","juventus"}
print(insieme)

{'milan', 'juventus', 'inter'}

In [ ]:
insieme2=set(("luca","antonio","riccardo","luca"))
print(insieme2)

{'riccardo', 'luca', 'antonio'}

In [ ]:
len(insieme)

3

In [ ]:
insiemenumeri={1,2,3,4,5}
print(insiemenumeri)

{1, 2, 3, 4, 5}

In [ ]:
insieme4={1,2,3}
for elemento in insieme4:
  print(elemento)

1
2
3

In [ ]:
insieme5={1,2,3,4}
insieme5.add(5)#aggiungere un elemento
print(insieme5)

{1, 2, 3, 4, 5}

In [ ]:
insieme6={1,2,3}
insieme7={4,5,6}
insieme6.update(insieme7)#somma insieme
print(insieme6)

{1, 2, 3, 4, 5, 6}

In [ ]:
insieme8={1,2,3,4,5}
insieme8.remove(1)#discard anche se non c'Ã¨ non da errore
print(insieme8)

{2, 3, 4, 5}

In [ ]:
x=insieme8.pop()#eliminare un elemento
print(x)
print(insieme8)

2
{3, 4, 5}

In [ ]:
insieme8.clear()#svuotare insieme
del insieme8#eliminare inseme

In [ ]:
set1 ={1,2,3,4,5}
set2 ={6,7,8,9,10}
set3=set1.union(set2)#unione 2 insiemi aggiungendo un'altro insieme
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set6={1,2,3,4,5}
set7={6,7,8,1,3}
set6.intersection(set7) #elementi in comune

{1, 3}

In [ ]:
set6={1,2,3,4,5}
set7={6,7,8,1,3}
set6.symmetric_difference_update(set7)#elementi non in comune
print(set6)

{2, 4, 5, 6, 7, 8}

In [ ]:
fruttimilella=milella.difference(avasiloae)#prender tutti gli elementi tranne quelli in comune
print(fruttimilella)

caricare in una lista 20 numeri casuali tra 1 e 100, ed eliminare i duplicati

In [ ]:
import random 
lista=list(set([random.randit(1,100) for i in range(20)]))
print(lista)

In [ ]:
if studentiSistemi.issubset(studentiTecnologie):#sottoinsieme
  print("si")
else:
  print("no")

nuova struttura dati:DIZIONARI

In [ ]:
carlo={
    "genere":"maschio",
    "etÃ ":15,
    "altezza":200,
}
print(carlo)


carlo.update({"cognome":"Borghesi"})#aggiunge
carlo["genere"]="neri"#modificare
carlo.pop("etÃ ")#rimuove "slot" con valore
print(carlo)

{'genere': 'maschio', 'etÃ ': 15, 'altezza': 200}
{'genere': 'neri', 'altezza': 200, 'cognome': 'Borghesi'}

In [ ]:
famiglia = {
    "figlio0" : {
        "nome" : "carlo",
        "etÃ " : 15,
        "altezza":200
    },
    "figlio1" : {
            "nome" : "gianni",
            "etÃ " : 12,
            "altezza":150
        },
}

print(famiglia)

#oppure

figlio0 = {
    "nome" : "carlo",
    "etÃ ":15,
    "altezza":200
}

figlio1 = {
    "nome" : "gianni",
    "etÃ ":12,
    "altezza":150
}

famiglia = {
    "figlio0" : figlio0,
    "figlio1" : figlio1
}


print(famiglia)

In [ ]:
for key in carlo:#visualizzare tutte le Chiavi
  print(key)

In [ ]:
for values in carlo:#visualizzare tutti i Valori
  print(carlo[values])

In [ ]:
for key, value in carlo.items():#visualizzare tutte le coppie Chiave-Valore
  print(key, value)

genere neri
altezza 200
cognome Borghesi

In [ ]:
carlo.clear()#svuotare struttura

In [ ]:
fifa22 = {
    "sviluppo":"EA Sports",
    "genere":"Calcio",
    "prezzo":"70â¬" 
}

fifa23 = fifa22.copy()
print(fifa23)

In [ ]:
key = ("autostima", "motivazione", "felicitÃ ")#assegna ad ognuna delle chiavi lo stesso valore
value = 0

vita = dict.fromkeys(key, value)#dict=dizionario
print(vita)

In [ ]:
centimetri = carlo.get('altezza')#prende il valore associato ad una chiave
print(centimetri)

In [ ]:
studente1 = carlo.items()#Restituisce una lista con le coppie di chiave-valore in un Dizionario
print(studente1)

In [ ]:
umano = carlo.keys()#Restituisce una lista con le chiavi di un Dizionario
print(umano)

dict_keys(['genere', 'altezza', 'cognome'])

In [ ]:
decontensto = carlo.values()#Restituisce una lista con i valori di un Dizionario
print(decontensto)

esercizio 1

In [ ]:
leone={
    "nome":"Andrea",
    "cognome":"Leone",
    "etÃ ":17,
}
print(leone)

aggiungere altezza

In [ ]:
leone["altezza"]=190
print(leone)

modificare altezza =175

In [ ]:
leone["altezza"]=175
print(leone)

contare numero chiavi

In [ ]:
len(leone.keys())

visualizzare seconda chiave

In [ ]:
keys=list(leone.keys())
print(keys[1])

fare secondo dizionario = primo

In [ ]:
leone2 = leone.copy()
print(leone2)

In [ ]:
leone2.clear()
print(leone)

In [ ]:
key = ("batte", "forte", "sempre")
value = "comodino"

leone2= dict.fromkeys(key, value)
print(leone2)

visualizzare tutti gli elementi

In [ ]:
for key, value in leone2.items():
  print(key, value)

Rimuovi il valore della seconda chiave del secondo dizionario

In [ ]:
lista=list(leone2.keys())
leone2[lista[1]]=""

si vogliono memorizzare le informazioni riguardanti alcune nazioni dell'unione europea. di ogni nazione si vogliono memorizzare il nome, la capitale, la superficie e la popolazione.
caricare le informazioni nella struttura dati ritenuta piÃ¹ opportuna.
scrivere poi il codice per avere le seguenti informazioni:
1.dato il nome di una nazione, tutte le sue informazioni;
2.dato il nome di una capitale, visualizzare la nazione a cui appartiene;
3.visualizzare il nome della nazione piÃ¹ estesa;
4.visualizzare la media delle nazioni presenti.

In [ ]:
nazioni=[{ "nome":"Austria","capitale":"vienna","superficie":83871,"abitanti":8858775} ,
         { "nome":"Belgio","capitale":"bruxelle","superficie":30528,"abitanti":11467923} ,
         { "nome":"Bulgaria","capitale":"sofia","superficie":110879,"abitanti":7000039}, 
         {"nome":"Cipro","capitale":"nicosia","superficie":9251,"abitanti":875898} ,
         { "nome":"Croazia","capitale":"zagabria","superficie":56542,"abitanti":4076246} ,
         { "nome":"Danimarca","capitale":"copenaghen","superficie":43094,"abitanti":5806081} ,
         {"nome":"Estonia", "capitale":"tallin","superficie":45228,"abitanti":1324820}, 
         {"nome":"Finlandia","capitale":"helsinki","superficie":338145, "abitanti":5517919} ,
         {"nome":"Francia", "capitale":"parigi","superficie":543965,"abitanti":67028048} ,
         { "nome":"Germania","capitale":"berlino","superficie":357022,"abitanti":83019214}]

In [ ]:
nazioneInserita=input("inserisci il nome di una nazione con la prima letterea maiuscola:")
for indice in nazioni:
  if nazioneInserita in indice["nome"]:
     print(indice)

inserisci il nome di una nazione con la prima letterea maiuscola:Austria
{'nome': 'Austria', 'capitale': 'vienna', 'superficie': 83871, 'abitanti': 8858775}

In [ ]:
capitaleInserita=input("inserisci il nome di una capitale:")
for indice in nazioni:
  if capitaleInserita in indice["capitale"]:
     print(indice["nome"])

In [ ]:
listaSuperifici = [nazioni[indice]["superficie"] for indice in range(len(nazioni))]
#print(listaSuperifici)
for nazione in nazioni:
  if max(listaSuperifici) == nazione["superficie"]:
    print(nazione["nome"])

Francia

In [ ]:
from statistics import mean
listaAbitanti= int(mean([nazioni[indice]["abitanti"] for indice in range(len(nazioni))]))
print(listaAbitanti)

memorizare in un'opportuna struttura dati il nome di 10 cittÃ  europee, e in un'altra struttura dati i nomi di 10 capitali.
scrivere poi il codice necessario per avere i nomi delle cittÃ  che sono anche capitali.